<div id="<%= dom_id email %>">
  <p>
    <strong>Object:</strong>
    <%= email.object %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= email.author %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= email.body %>
  </p>

</div>
